html {
  scroll-behavior: smooth;
}

body {
  background-color: #c8e6e2;
  color: #213a57;
}

/* header section */
header {
  border: 2px solid #c8e6e2;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-family: "Poppins", serif;
  font-size: 3em;
  color: #213a57;
}

/* nav section */
nav {
  border: 2px solid #c8e6e2;
  font-family: "Inter", sans-serif;
  background-color: #213a57;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  border: 1px solid #c8e6e2;
  border-radius: 8px;
  background-color: #213a57;
  color: #c8e6e2;
  text-decoration: none;
  padding: 5px 8px;
  margin-right: 30px;
}

/* about-me section */
#about-me,
#skills,
#certification,
#projects,
#contact,
#footer {
  border: 2px solid #213a57;
  border-radius: 8px;
  margin-bottom: 40px;
  width: auto;
  font-family: "Inter", sans-serif;
  background-color: #b5e9e2;
  padding: 20px;
}
#about-me h2,
#skills h2,
#certification h2,
#projects h2,
#contact h2 {
  font-family: "Poppins", serif;
  font-size: 2em;
  margin-bottom: 20px;
}
#my-image {
  max-width: 30%;
  border-radius: 9px;
}
#about-me p,
#contact p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  line-height: 1.5em;
  color: #213a57;
}

/* my skills section */
#my-skills {
  font-family: "Inter", serif;
  color: #213a57;
  line-height: 1.5em;
}

/* table section */
#table {
  border: 2px solid #213a57;
  width: 100%;
  background-color: #c8e6e2;
}
#table-header {
  background-color: #213a57;
  color: #c8e6e2;
  padding: 14px;
}
#table-body {
  font-size: 16px;
  line-height: 1.5em;
  color: #213a57;
  padding: 12px;
  text-align: center;
}

/* my works section */
#my-works {
  padding-left: 22px;
  color: #213a57;
  line-height: 1.5em;
}

/* footer section */
footer {
  background-color: #213a57;
  color: #c8e6e2;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #c8e6e2;
  font-size: 2rem;
}

